<?xml version="1.0" encoding="utf-8"?>
<Preferences 
  AcceptedEULA="{{ plex_preferences.AcceptedEULA }}"
  ManualPortMappingMode="{{ plex_preferences.ManualPortMappingMode }}"
  PlexOnlineToken="{{ plex_preferences.PlexOnlineToken }}"
  FriendlyName="{{ plex_preferences.FriendlyName }}" />
